<%- include('./partials/header.ejs') %>


<div class="boc  ">
    <h1 class="hd">DATABASE MANAGEMENT</h1>
    <div class="pad">
        <form action="/student" method="get" class="d-inline"><button type='submit' class="b btn btn-outline-danger">Students </button></form>   
        <form action="/teacher" method="get" class="d-inline"><button type='submit' class="b btn btn-outline-danger">Teachers </button></form> 
    </div>
   
    

    
</div>

<%- include('./partials/footer.ejs') %>
   