<%- include('./partials/header.ejs') %>


<div class="boc pad">
    <form action="/student" method="get"><button type='submit' class="btn btn-outline-danger">Students </button></form>    </form>
    
</div>

<%- include('./partials/footer.ejs') %>
   